
.skills{
  padding:10px 30px;
}
.skills-set{
  background-color:gray;
  height:20px:
}
.html{
  width:95%;
  background-color:green;
}
.css{
  width:72%;
  background-color:lightblue;
}
.js{
  width: 70%;
  background-color:rgb(247,113, 4)
 }
.python {
  width:80%;
  background-color: yellow;
}
.c {
  width:40%;
  background-color: pink;
}

.react{
  width:20%;
  background-color:purple;
 }
.html p, .css p, .js p,.python p, .c p, .react p{
    padding: 5px 0;
    text-align: right;
}
  
  
  